*\.a
*\.swp
*\.swo
*\.out
*\.gch
a\.out
*\.gdb_history
*\.bak
*\.callgrind\.out\.*
*\.o
*/CMakeCache.txt
*\.cmake
*/Makefile
build/*
*/CMakeFiles/*
*\.cpp.o.d
*CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
tags
/unit
test/benchmark/*
test/inconsistantErrors/*
*\.vscode
.cache
*\.so
